.LandingPage {
  .hero {
    min-height: 700px;
    background: url('../../assets/images/home-hero.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
  }
  .hero-text {
    @apply font-nunito font-extrabold text-center;
    font-size: 96px;
    line-height: 100px;
    background: url('../../assets/images/home-hero-text-bg.png');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
