@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../node_modules/react-calendar/dist/Calendar.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');

html,
body {
  background: #fafafa;
}

.page {
  min-height: calc(100vh - 100px);
}

.shrink {
  transition: transform 150ms ease-in-out;
}

.shrink:hover {
  transform: scale(0.95);
}

.shrink-lg:hover {
  transform: scale(0.9);
}
